<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.107524350806-smtgnkufvnf2a7dp0luc7qgp1h5ara1e</string>
			</array>
		</dict>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need your location to track deliveries and navigate to pickup and delivery locations.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We need your location to track deliveries in real-time and provide accurate updates to customers.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
</dict>
</plist>
