@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-chatbg text-slate-100 antialiased;
}

.animation-delay-2000 {
  animation-delay: 2s;
}
.animation-delay-4000 {
  animation-delay: 4s;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradientMove 6s ease infinite;
}

.nav__link {
  margin-top: 9px;
}