@tailwind base;
@tailwind components;
@tailwind utilities;


.dashboard-count-block:hover{
    background: #fff !important;
}
:where(.css-dev-only-do-not-override-1cj4ms).ant-spin .ant-spin-dot-holder{
    color: #ff2902 !important;
}
.ant-spin-text {
    color: #ff2902 !important;
}